/* the browser reads CSS selectors from right to left (or innermost element to outermost element). A selector of header nav ul li a essentially says, "Find every <a> element that's inside an <li> element, but the <li> element has to be in a <ul> element, and the <ul> element has to be in a <nav> element,"and so on. The browser has to do a few pass-throughs, working its way up the HTML structure to apply the CSS styles correctly. 

A whole page of selectors like this might slow down performance as the page grows. You can combat that by providing a class to the elements you want to style, and selecting just that class. But adding a class attribute to every element could prove tedious, leading to extraneous HTML.

In these common situations, you'll have to choose: make the code slightly more performant, or make it slightly easier to read. The answer usually lies somewhere in the middle, with something like .nav-class a—which is easy to interpret but also specific enough for the browser to read efficiently.*/

body {
    /* more on this crazy alphanumerical value in a minute! */
    color: #39a6b2;
    font-family: Helvetica, Arial, sans-serif;
}

* { /* an * selector CSS */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* apply styles to <header> */
header {    /* adding flexbox */
    display: flex; /* makes the header a row by defaul. Overrides it's children default block-level. */
    justify-content: space-between; /* distributes all empty space between child elements to keep them evenly spaced apart */
    padding: 20px 35px;
    background-color: #39a6b2;
    flex-wrap: wrap; /* lets child elements break onto the next line when they don't fit on one line */
}

header h1 { /* removed display: inline; */
    font-weight: bold;
    font-size: 36px;
    color: #fce138;
    margin: 0;
}

header a {
    text-decoration: none;
    color: #fce138;
}

header nav {
    /* float: right; removed for lesson 2.2.4 */
    margin: 7px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;    /* vertically centers content */
    list-style: none;   /* sets how a list item is styled and positioned. None hides bullet point in front of list items. */
}

header nav ul li a {    /* select a elements inside a li element inside an ul element inside a nav element inside a header element */
    margin: 0 30px;
    font-weight: lighter;
    /* font-size: 22px; changed to 1.55vw */
    font-size: 1.55vw;  /* viewport width - vw. viewport is the actual browser window size 1.55% of the window width */
}

footer {
    background: #fce138;
    width: 100%;
    padding: 40px 35px;
    display: flex; /* lets display boxes with moving them around while resizing the window */
    justify-content: space-between; /* will position two boxes with equal empty space in between them */
    flex-wrap: wrap; /* will wrap boxes one under another */
}

footer h2 {
    /* display: inline; 2.2.6 */
    color: #024e76;
    font-size: 30px;
    margin: 0;
}

footer div {
    /* float: right; 2.2.6 */
    line-height: 1.5;
    text-align: right;
}

footer a {
    color: #024e76;
}

section {
    padding: 60px;
}

.hero { /* We created hero class with dot notation "." */
    background-image: url("../images/hero-bg.jpeg");
    /* height: 600px; We added more height space (2.2.7 removed it)*/
    background-size: cover;/*cover
    Scales the image as large as possible to fill the container, stretching the image if necessary. If the proportions of the image differ from the element, it is cropped either vertically or horizontally so that no empty space remains.*/
    background-position:center;
    /* position: relative; 2.2.7 removed it */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.3;
}

.hero-cta h2 {
    font-style: italic;
    font-size: 55px;
    color: #fce138;
}

.hero-form {
    padding: 20px;
    /* width: 600px; */
    color: #024e76;
    background-color: #fce138;
    border: solid 3px #024e76;
    /* Can be written in three lines:
    border-style: solid;
    border-width: 3px;
    border-color: #024e76;
    */
    /* position: absolute; */
    /* bottom: 49px; in module it was 120px and right was 140px */
    /* right: 60px;  all width position bottom and right was removed in lesson 2.2.7 */
    width: 40%;
    margin: 3.5%;
}

.hero-form h3 {
    margin: 0;
}

.hero-form p {
    margin: 5px 0 15px 0;
}

.form-input {
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid #024e76;
}

.hero-form label {
    margin: 0 5px;
}

.hero-form button {
    background-color: #024e76;
    color: #fce138;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

/* .intro {
    text-align: center;
} */

.steps {
    /* text-align: center; aligned not only text but and child elements as images */
    background: #fce138;
}
.section-title {
    font-size: 55px;
    color: #024e76;
    /* margin-bottom: 35px; */
    /* padding: 0 100px 20px 100px; */
    border-bottom: 3px solid;
    /* display: inline-block; */
    /* or can be a separate line : border-color:#fce138; */
    padding-bottom: 20px;
    text-align: center;
    margin: 0 auto 35px auto;
    width: 50%;
}

.primary-border {
    border-color: #fce138;
}

.secondary-border {
    border-color: #39a6b2;
}

.intro p {
    line-height: 1.7;
    color: #39a6b2;
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
}

/* .steps div {
    margin-bottom: 80px;
} */

/* .steps img {
    width: 15%;
    margin: 10px 0;
} */
.step {
    margin: 50px auto;
    padding-bottom: 50px;
    width: 80%;
    border-bottom: 1px solid #39a6b2;
    display: flex;
    flex-wrap: wrap;
    align-items: center; /* helps keep right box align with the left box ot right's center. */
    justify-content: space-between;
}

.step h3 { /* renamed from steps h3 to step h3 */
    color: #024e76;
    font-size: 46px;
    flex: 1 30%; /* flex-grow and flex-basis - h3 will be at least 70% wide but will receive any extra space in the container at a 2-to-1 ratio. */
    /* margin-top: 10px; */
}

.step-info {
    flex: 2 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.step-text p {
    color: #39a6b2;
    font-size: 18px; /* instead of 23px */
}

.step-text h4 {
    font-size: 26px;
    line-height: 1.5;
    color: #024e76;
}

.step-img {
    flex: 1 12%;
    margin-right: 20px;
}

.step-text {
    flex: 12;
}

.step-img img {
    max-width: 100%;
}

/* .steps span {
    font-size: 38px;
} */

.trainers {
    /* text-align: center; */
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.trainer {
    /* width: 900px; it we would have large bio text we would need to increase this value to make sure the image reaches the bottom padding */
    margin: 20px; /* changed from 0 auto 30px auto */
    background: #024e76;
    color: #fce138;
    flex: 1;
    /* overflow: auto; */
}

.trainer img {
    width: 100%; /* changed from 35% */
    /* float: left; */
}

.trainer-bio {
    padding: 25px; /* changed from 35px */
    /* float: left; */
    /* width: 65%; */
    line-height: 1.3; /* moved from .trainer-bio p */
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.trainer-bio h3 {
    font-size: 28px; /* changed from 32 */
    /* margin-bottom: 8px; */
}

.trainer-bio h4 {
    font-weight: lighter;
    font-size: 22px; /* changed from 17px */
    margin-bottom: 15px; /* changed from 25px */
}

.trainer-bio p {
    font-size: 17px;
}

.contact {
    background: #024e76;
    /* text-align: center; */
}

.contact h2 {
    color: #fce138;
}

.contact-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-info > * {
    flex: 1;
    margin: 15px;
}

.contact-info iframe { /* or we can just use iframe (type selector is potentially dangerous choice due to possible side effects) for this project cause we don't have another iframe to worry about. We used a class selector */
    /* width: 400px; */
    height: 400px;
}

.contact-info div {
    /* width: 410px;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 30px 0 0 60px; */
    color: white;
}

.contact-info h3 {
    color:#fce138;
    font-size: 32px;
}

.contact-info p, .contact-info address{
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px; /* changed from 20px */
    font-style: normal;
}

.contact-form input, .contact-form textarea {
    border: 1px solid #024e76;
    display: block;
    padding: 7px 15px;
    font-size: 16px;
    color: #024e76;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.contact-form button {
    width: 100%;
    border: none;
    background: #fce138;
    color: #024e76;
    text-align: center;
    padding: 15px 0;
    font-size: 16px;
}

.contact-info a {
    color:#fce138;
}

.flex-row {
    display: flex;
}